<h2 class="text-3xl font-bold">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'w-full flex justify-center flex-col gap-3 items-center'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="max-w-xs w-full mt-6">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: 'w-full py-3 rounded-lg pl-3' %>
  </div>

  <div class="max-w-xs w-full">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full py-3 rounded-lg pl-3' %>
  </div>

  <div class="max-w-xs w-full">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'w-full py-3 rounded-lg pl-3' %>
  </div>

  <div class="max-w-xs w-full">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full py-3 rounded-lg pl-3' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
